../.DS_Store
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
*.iml
.idea
.travis.yml
LICENSE.code.txt
LICENSE.writing.txt
README.adoc
run-on-pws.json
